.App {
  text-align: center;
  width: 400px;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;

}
.HomeButton{
  margin-top: 50px;
  justify-content: center;
  font-size: medium;
}

.backbutton{
  margin-top: 40px;
  
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 120px;
  margin-left: 120px;
  
}
.loggedIn{
  margin-left: 20px;
  margin-right: 20px;

}

.createbutton{
  margin-top: 100px;
}

.button{
  align-items: center;
  justify-content: center;
  padding: 3px;
  gap: space-between;

}

.seed{
  margin-top: 40px;
  padding: 4px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.hash{
  margin-left: 20px;
  margin-right: 20px;
  font-size: smaller;
  justify-content: center;
  display: flex;
  align-items: center
}

.account{
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
  font-size: medium;
}
.address01{
  font-size: small;
  margin-right: 10px;
  margin-left: 10px;
  
}

.address{
  font-size: small;
  margin-right: 10px;
  margin-left: 10px;
  font-style: bold;
  font-weight:600;
  
}
.phrase{
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
}